In [1]:
import numpy as np
from astropy.io import ascii, fits
import pandas as pd

# Reading HTML table files

In [2]:
file='GRB161219B-2016jca/GRB161219B-2016jca_Optical1.html'

In [3]:
def check_float(potential_float):
    try:
        float(potential_float) #Try to convert argument into a float
        return True
    except ValueError:
        return False

n=0
k=-1
for i in range(0, 6):
    #Read in the file changing where the data starts
    data = ascii.read(file, format='html', data_start=i)
    
    
    #find the first row that has a column value that works as a float
    for j in range(len(data.columns)):
        if check_float(data[0][j])==True:
            print(i)
            print(data[0][j])
            k = i
            break
    if k==i:
        break
    n=i
    
#Get the actual data with the correct data start value    
data = ascii.read(file, format='html', data_start=k)
data

1
57744.08

<Table length=29>
MJD
            . B
            . ... i
            . Telescope
            .
     float64           str12      ...      str12                str4
----------------- --------------- ... --------------- -----------------------
         57744.08    19.83 ± 0.01 ...               –                     VLT
         57746.08    20.04 ± 0.01 ...               –                     VLT
         57748.12    20.24 ± 0.01 ...               –                     VLT
         57749.03    20.21 ± 0.03 ...               –                     TNG
         57749.99    20.18 ± 0.13 ...    19.80 ± 0.03                      LT
          57750.0               – ...    19.80 ± 0.03                      LT
         57751.09    20.46 ± 0.01 ...               –                     VLT
         57751.98               – ...    19.76 ± 0.08                      LT
         57751.99               – ...    19.75 ± 0.08                      LT
         57753.99    20.52 ± 0.21 ...               –                     TNG
              ...             ... ...             ...                     ...
         57763.26    21.58 ± 0.06 ...               –                     VLT
         57767.17               – ...               –                     VLT
         57769.98               – ...    20.05 ± 0.02                      LT
         57770.91               – ...    20.11 ± 0.02                      LT
         57772.04    21.98 ± 0.01 ...               –                     VLT
         57772.91               – ...    20.22 ± 0.02                      LT
         57778.88               – ...    20.27 ± 0.03                      LT
         57779.22    22.17 ± 0.02 ...               –                     VLT
         57779.92               – ...    20.45 ± 0.03                      LT
         57836.04    22.64 ± 0.03 ...               –                     VLT

# Cleaning up the data

In [9]:
# Need a way to make the columns that should be floats into floats
def pm_remover(table): #Should separate columns containing ± into data and error
    num_cols = len(table.columns)
    if isinstance(table[i][0]): #Check if theres a string in column i row 0
        if '±' in table[i][0]:
            for i in range(num_cols):
                sepd_data = table[i][0].split('±') #Separate the data if theres a ±

<ipython-input-9-9e5679632a41>:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  np.float('-')

ValueError: could not convert string to float: '-'

In [12]:
data.columns[0]

<Column name='MJD\n            .' dtype='float64' length=29>
57744.08
57746.08
57748.12
57749.03
57749.99
 57750.0
57751.09
57751.98
57751.99
57753.99
57754.28
57756.36
     ...
57758.96
57760.06
57763.26
57767.17
57769.98
57770.91
57772.04
57772.91
57778.88
57779.22
57779.92
57836.04

# Making FITS files from table objects

In [8]:
data.write('GRB161219B-2016jca.fits', format='html')

WARNING: AstropyDeprecationWarning: GRB161219B-2016jca.fits already exists. Automatically overwriting ASCII files is deprecated. Use the argument 'overwrite=True' in the future. [astropy.io.ascii.ui]

In [6]:
data.read('GRB161219B-2016jca.fits', format='html')

<Table length=29>
MJD
            . B
            . ... i
            . Telescope
            .
     float64           str12      ...      str12                str4
----------------- --------------- ... --------------- -----------------------
         57744.08    19.83 ± 0.01 ...               –                     VLT
         57746.08    20.04 ± 0.01 ...               –                     VLT
         57748.12    20.24 ± 0.01 ...               –                     VLT
         57749.03    20.21 ± 0.03 ...               –                     TNG
         57749.99    20.18 ± 0.13 ...    19.80 ± 0.03                      LT
          57750.0               – ...    19.80 ± 0.03                      LT
         57751.09    20.46 ± 0.01 ...               –                     VLT
         57751.98               – ...    19.76 ± 0.08                      LT
         57751.99               – ...    19.75 ± 0.08                      LT
         57753.99    20.52 ± 0.21 ...               –                     TNG
              ...             ... ...             ...                     ...
         57763.26    21.58 ± 0.06 ...               –                     VLT
         57767.17               – ...               –                     VLT
         57769.98               – ...    20.05 ± 0.02                      LT
         57770.91               – ...    20.11 ± 0.02                      LT
         57772.04    21.98 ± 0.01 ...               –                     VLT
         57772.91               – ...    20.22 ± 0.02                      LT
         57778.88               – ...    20.27 ± 0.03                      LT
         57779.22    22.17 ± 0.02 ...               –                     VLT
         57779.92               – ...    20.45 ± 0.03                      LT
         57836.04    22.64 ± 0.03 ...               –                     VLT