In [1]:
import pandas as pd
import numpy as np

In [2]:
#Enter the filename
name = "GRB190829A-AT2019oyw/"
file = "GRB190829A-AT2019oyw_Optical_1"

In [3]:
#Read a html file into a panda
df = pd.read_html(name+file+".html", header=[0,1])
df = df[0]

In [4]:
#rename 
df.columns = ['time [MJD]', 'phase [d]', 'exp. time [s]', 'filter', 'mag [AB]', 'error [AB]']

In [5]:
df.head()

     time [MJD]  phase [d] exp. time [s] filter mag [AB] error [AB]
0  58725.195050      0.365           120      u    21.77       0.05
1  58726.186209      1.381       120 × 4      u  > 22.83          –
2  58727.204482      2.377       120 × 5      u  > 23.28          –
3  58728.229954      3.400           120      u  > 23.65          –
4  58729.203136      4.376       120 × 5      u  > 23.64          –

In [6]:
#drop the all nan rows
df = df.dropna(how='all').reset_index(drop=True)

#Check for upper limits: 0 for not a limit, -1 lower, 1 upper
col = df['mag [AB]']
limit = np.zeros(len(col))
for i in range(len(col)):
    if '>' in str(col[i]):
        print('Hi')
        limit[i] = -1
        
    elif '<' in str(col[i]):
        limit[i] = 1

df['limit'] = limit

#Get rid of the limit < and >
df['mag [AB]'] = df['mag [AB]'].str.replace('>', '')
df['mag [AB]'] = df['mag [AB]'].str.replace('<', '')

#Replace - with nan
df['error [AB]'] = df['error [AB]'].str.replace('–', '')

# #Split by ±
# # df[['Flux (μJy beam^{-1})', 'dFlux (μJy beam^{-1})']] = df['Flux (μJy beam−1)'].str.split('±', expand=True)



# #Convert to csv
df.to_csv(name+"/processed/"+file+'.txt', index=False)

Hi
Hi
Hi
Hi