In [1]:
import numpy as np
from astropy.io import ascii, fits
from astropy.table import Table, Column
import pandas as pd

# Reading HTML table files

In [2]:
file='GRB161219B-2016jca/GRB161219B-2016jca_Optical1.html'

In [3]:
def check_float(potential_float):
    try:
        float(potential_float) #Try to convert argument into a float
        return True
    except ValueError:
        return False

n=0
k=-1
for i in range(0, 6):
    #Read in the file changing where the data starts
    data = ascii.read(file, format='html', data_start=i)
    
    
    #find the first row that has a column value that works as a float
    for j in range(len(data.columns)):
        if check_float(data[0][j])==True:
            print(i)
            print(data[0][j])
            k = i
            break
    if k==i:
        break
    n=i
    
#Get the actual data with the correct data start value    
data = ascii.read(file, format='html', data_start=k, encoding='utf-8')
data

1
57744.08

<Table length=29>
MJD
            . B
            . ... i
            . Telescope
            .
     float64           str12      ...      str12                str4
----------------- --------------- ... --------------- -----------------------
         57744.08    19.83 ± 0.01 ...               –                     VLT
         57746.08    20.04 ± 0.01 ...               –                     VLT
         57748.12    20.24 ± 0.01 ...               –                     VLT
         57749.03    20.21 ± 0.03 ...               –                     TNG
         57749.99    20.18 ± 0.13 ...    19.80 ± 0.03                      LT
          57750.0               – ...    19.80 ± 0.03                      LT
         57751.09    20.46 ± 0.01 ...               –                     VLT
         57751.98               – ...    19.76 ± 0.08                      LT
         57751.99               – ...    19.75 ± 0.08                      LT
         57753.99    20.52 ± 0.21 ...               –                     TNG
              ...             ... ...             ...                     ...
         57763.26    21.58 ± 0.06 ...               –                     VLT
         57767.17               – ...               –                     VLT
         57769.98               – ...    20.05 ± 0.02                      LT
         57770.91               – ...    20.11 ± 0.02                      LT
         57772.04    21.98 ± 0.01 ...               –                     VLT
         57772.91               – ...    20.22 ± 0.02                      LT
         57778.88               – ...    20.27 ± 0.03                      LT
         57779.22    22.17 ± 0.02 ...               –                     VLT
         57779.92               – ...    20.45 ± 0.03                      LT
         57836.04    22.64 ± 0.03 ...               –                     VLT

# Cleaning up the data

* I want the pm_remover() to:

    * Take a table as input
    * Check if there are pm values in the rows
    * If there are then split that row into data and errors
    * Append the new error row to the table whilst overwriting the old row with the float data
    * Return the table

In [19]:
# Need a way to make the columns that should be floats into floats
def pm_remover(table): #Should separate columns containing ± into data and error
    num_cols = len(table.columns) # Get the number of columns
    for i in range(num_cols): #Iterate over those columns
        data_a = []
        data_b = []
        
        if isinstance(table[0][i], str)==True: #Check if theres a string in column i row 0
            for l in table.columns[i]:
                string = l.replace(u'\xa0', u'') #Unicode space characters are popping up when parsing the html
                
                if '–' in string:
                    sep_data_a, sep_data_b = 'NaN', 'NaN'
                    sep_data_a, sep_data_b = float(sep_data_a), float(sep_data_b) #Convert to float (nan)
                    data_a.append(sep_data_a)
                    data_b.append(sep_data_b)
                    
                if '±' in string:
                    sep_data_a, sep_data_b = l.split('±') #Separate the data
                    sep_data_a, sep_data_b = float(sep_data_a), float(sep_data_b) #Convert to float

                    data_a.append(sep_data_a)
                    data_b.append(sep_data_b)
                        
            col_a = Column(data_a, name=str(table.colnames[i])) #Make a new column for the data
            col_b = Column(data_b, name='Δ'+str(table.colnames[i])) #Make a new column for the errors

            table.remove_column(table.colnames[i]) #Remove the column that is being split
            table.add_column(col_a, index=[0]) #Add the data into its own column
            table.add_column(col_b, index=[0]) #Add the error to its own column
            
pm_remover(data)

1

TypeError: slice indices must be integers or None or have an __index__ method

In [20]:
data

<Table length=29>
MJD
            . Telescope
            . ... r
            . i
            .
     float64                str4          ...     float64         float64
----------------- ----------------------- ... --------------- ---------------
         57744.08                     VLT ...             nan             nan
         57746.08                     VLT ...             nan             nan
         57748.12                     VLT ...             nan             nan
         57749.03                     TNG ...             nan             nan
         57749.99                      LT ...           19.63            19.8
          57750.0                      LT ...           19.63            19.8
         57751.09                     VLT ...             nan             nan
         57751.98                      LT ...           19.54           19.76
         57751.99                      LT ...           19.54           19.75
         57753.99                     TNG ...             nan             nan
              ...                     ... ...             ...             ...
         57763.26                     VLT ...             nan             nan
         57767.17                     VLT ...             nan             nan
         57769.98                      LT ...           20.35           20.05
         57770.91                      LT ...           20.33           20.11
         57772.04                     VLT ...             nan             nan
         57772.91                      LT ...            20.5           20.22
         57778.88                      LT ...           20.52           20.27
         57779.22                     VLT ...             nan             nan
         57779.92                      LT ...           20.73           20.45
         57836.04                     VLT ...             nan             nan

In [ ]:
float('NaN')

# Making FITS files from table objects

In [ ]:
data.write('GRB161219B-2016jca.fits', format='ascii', overwrite=True)

In [ ]:
data.read('GRB161219B-2016jca.fits', format='ascii')

In [ ]:
hdul = fits.open('GRB161219B-2016jca.fits')

# Template fits file