In [1]:
import numpy as np
from astropy.io import ascii
import pandas as pd

In [2]:
file='GRB130427A-SN2013cq/GRB130427A-SN2013cq_Xray1.html'

In [23]:
def check_float(potential_float):
    try:
        float(potential_float) #Try to convert argument into a float
        return True
    except ValueError:
        return False

n=0
for i in range(0, 6):
    #Read in the file changing where the data starts
    data = ascii.read(file, format='html', data_start=i)
    
    
    #find the first row that has a column value that works as a float
    for j in range(len(data.columns)):
        if check_float(data[0][j])==True:
            print(data[0][j])
            break
    n=i
print(data_start)

1.38
4.66
17.5
25.06
5

In [8]:
data = ascii.read(file, format='html', data_start=2)

In [9]:
data[6][2]

'3.54 ± 0.84'

In [10]:
data

<Table length=7>
T–T0
            . Facility
            . Flux
            .
     float64               str10                str13
------------------ ---------------------- ------------------
              1.38             XMM–Newton      849.94 ± 0.85
              4.66             XMM–Newton      165.62 ± 4.97
              17.5             XMM–Newton       26.57 ± 2.15
             25.06                Chandra       16.74 ± 3.16
             36.31                Chandra       12.12 ± 2.11
             66.06             XMM–Newton        5.00 ± 0.81
             83.45             XMM–Newton        3.54 ± 0.84